.sub {
    background-color: #f15d23;
    color: white;
    font-family: Arial;
    font-size: 140%;
    text-decoration: none;
    width: auto;
    height: auto;
    border-radius: 3px;
}

.desc {
    color: #003076;
    font-family: Arial;
    font-size: 130%;
    background-color: #d9d9d9;
    border-radius: 3px;
    text-align: center;
    width: 90%;
    height: 140%;
}

h1 {
    color: #134b80;
    font-family: Arial;
    font-size: 200%;
}

h2 {
    color: ;
    font-family: Arial;
    font-size: 150%;
}

br {
    line-height: 20px;
}
